<div style="overflow:hidden; height:95%">
  <div class="container" style="padding-top: 20px;overflow:hidden; height:100%">

    <div class="col-md-6" map-lazy-load="https://maps.google.com/maps/api/js">

      <ng-map default-style="true" center="newPlace? {{place.address+' '+place.city}} : {{selectedPlace.latitude+', '+selectedPlace.longitude}}" zoom="14">
        <marker ng-if="newPlace" position="{{place.address+' '+place.city}}" title="{{place.address}}"></marker>
        <marker ng-if="!newPlace" position="{{selectedPlace.latitude+', '+selectedPlace.longitude}}" title="{{selectedPlace.address}}"></marker>
      </ng-map>
    </div>

    <div class="col-md-6" style="padding-top:15px; height:100%; overflow: scroll;">
      <div style="">
        <form name="myForm" id="myForm">
          <fieldset class="form-group col-md-12">
            <label >Titolo evento</label>
            <input type="text" class="form-control" ng-model="event.name" id="" placeholder="Inserisci titolo" required>
          </fieldset>

          <fieldset class="form-group col-md-12">
            <label for="event-description">Descrizione</label>
            <textarea class="form-control" id="event-description" ng-model="event.description" placeholder="Inserisci testo" rows="4" required></textarea>
          </fieldset>

          <fieldset class="form-group col-md-6">
            <label>Data inizio</label>
            <input type="date" class="form-control" ng-model="event.startdate" id="" placeholder="Data" required>
          </fieldset>
        </fieldset>

        <fieldset class="form-group col-md-6">
          <label>Data fine</label>
          <input type="date" class="form-control" ng-model="event.stopdate" id="" placeholder="Data" required>
        </fieldset>
      </fieldset>

      <fieldset class="clearfix col-md-12" style="padding:0px;">
        <legend style="padding-left:15px;">Place</legend>
        <fieldset class="form-group col-md-12">
          <label>Nome posto</label>
          <input type="text" class="form-control" id="" ng-model="searchPlace" placeholder="Nome posto o indirizzo" required>
          <div class="search-results">
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="place in places" ng-click="setPlace(place)">
                  <div ng-if="place.noPlace === true">
                    <b>{{place.message}} <span class="glyphicon glyphicon-plus"></span></b>

                  </div>
                  <div ng-if="place.noPlace === undefined">
                    <b>{{place.name}}</b>
                    <p>{{place.address+", "+place.city+", "+place.cap+", "+place.nation}}</p>
                  </div>

              </li>
            </ul>
          </div>
        </fieldset>
        <div ng-show="newPlace">
          <fieldset class="form-group col-md-12">
            <label>Indirizzo</label>
            <input ng-model="new.address" class="form-control" placeholder="Indirizzo" required>
          </fieldset>

          <fieldset class="form-group col-md-6">
            <label>Città</label>
            <input ng-model="new.city" type="text" class="form-control col-md-6" id="" placeholder="Città" required>
          </fieldset>

          <fieldset class="form-group col-md-6">
            <label>Cap</label>
            <input type="text" class="form-control" ng-model="place.cap" id="" placeholder="Cap" required>
          </fieldset>

          <fieldset class="form-group col-md-12">
            <label>Paese</label>
            <input type="text" class="form-control" ng-model="place.nation" id="" placeholder="Nation" required>
          </fieldset>
        </div>


      </fieldset>

      <fieldset class="form-group col-md-12">
        <label>Categoria</label>
        <select class="c-select" ng-model="event.category_name" required>
          <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
        </select>
      </fieldset>
      <fieldset class="col-md-12 clearfix">
      </fieldset>

      <div class="col-md-12 clearfix">
        <button class="btn btn-primary" ng-click="toggleCustom()">Invita</button>
        <button type="button" ng-disabled="" ng-click="createPlace()" class="btn btn-primary">Crea evento</button>
      </div>

    </form>
  </div>

</div>
<div class="col-md-12 overlay" ng-hide="custom">
  <div class="col-md-6 overlay-box">
    <fieldset>
      <label >Aggiungi membri</label>
      <div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="searchUser">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Cerca</button>
          </span>
        </div>
        <div class="search-results">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="result in results" ng-click="pushToarray(result.id)">
              <div class="row">
                  <img class="img-responsive img-circle" style="width:50px;display:inline-block;margin: 0 10px;" ng-src="{{result.image_profile}}">
                  <h3 style="display: inline-block; margin: 0 10px;">{{result.name}} {{result.lastname}}</h3>
              </div>
            </li>
          </ul>
        </div>

        <h4>ID delle Persone che hai invitato</h4>
        <div class="invited-list" >
            <span ng-repeat="partecipant in partecipantList">
              <b>{{partecipant}}</b>,
            </span>
        </div>
      </div>

    </fieldset>
<!--
<h4>Persone che hai invitato</h4>
<div class="invited-list">
  nessuno
</div>-->
<button class="btn btn-warning" ng-click="toggleCustom(); addPartecipant(1)">CHIUDI</button>
</div>
</div>

</div>
</div>
