
<div class="col-md-6">
  <h2>Titolo Evenot</h2>
  <p><strong>Category: </strong>
    <span class="label label-primary tags">sport</span>
    <span class="label label-success tags">meeting</span>
    <span class="label label-warning tags">workshop</span>
  </p>
  <p><i>Creator: Mario Rossi 24/03/2016</i></p>
  <h3>Description</h3>
  <p>[[ Description This is a great place to introduce your company or project and describe what you do. This about page
    features general company information, employee bios, and other helpful elements. ]]</p>
  <span><b>Start:</b> 00/00/2016</span>
  <span><b>Stop:</b> 00/00/2016</span>


</div>

<!-- Team Member Profiles -->

<div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Partecipants</h2>
  </div>

  <div class="col-sm-2">
    <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">

    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                  data-placement="top" title="Facebook"><i
        class="fa fa-facebook-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                  data-placement="top" title="LinkedIn"><i
        class="fa fa-linkedin-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                     data-placement="top" title="Google+"><i
        class="fa fa-google-plus-square fa-2x"></i></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-2">
    <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">

    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                  data-placement="top" title="Facebook"><i
        class="fa fa-facebook-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                  data-placement="top" title="LinkedIn"><i
        class="fa fa-linkedin-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                     data-placement="top" title="Google+"><i
        class="fa fa-google-plus-square fa-2x"></i></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-2">
    <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">

    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                  data-placement="top" title="Facebook"><i
        class="fa fa-facebook-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                  data-placement="top" title="LinkedIn"><i
        class="fa fa-linkedin-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                     data-placement="top" title="Google+"><i
        class="fa fa-google-plus-square fa-2x"></i></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-2">
    <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">

    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                  data-placement="top" title="Facebook"><i
        class="fa fa-facebook-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                  data-placement="top" title="LinkedIn"><i
        class="fa fa-linkedin-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                     data-placement="top" title="Google+"><i
        class="fa fa-google-plus-square fa-2x"></i></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-2">
    <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">

    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                  data-placement="top" title="Facebook"><i
        class="fa fa-facebook-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                  data-placement="top" title="LinkedIn"><i
        class="fa fa-linkedin-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                     data-placement="top" title="Google+"><i
        class="fa fa-google-plus-square fa-2x"></i></a>
      </li>
    </ul>
  </div>

  <div class="col-sm-2">
    <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">

    <h3>John Smith
      <small>Job Title</small>
    </h3>
    <ul class="list-unstyled list-inline list-social-icons">
      <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                  data-placement="top" title="Facebook"><i
        class="fa fa-facebook-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                  data-placement="top" title="LinkedIn"><i
        class="fa fa-linkedin-square fa-2x"></i></a>
      </li>
      <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                     data-placement="top" title="Google+"><i
        class="fa fa-google-plus-square fa-2x"></i></a>
      </li>
    </ul>
  </div>

</div>

<!-- Our Customers -->

<div class="row">

  <div class="col-lg-12">
    <h2 class="page-header">Some Placeuments</h2>
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
  </div>

  <div class="col-md-2 col-sm-4 col-xs-6">
    <img class="img-responsive img-customer" src="http://placehold.it/500x300">
  </div>


</div>
