<div style="overflow:scroll; height:95%">
  <div class="container">

    <div class="col-md-6" map-lazy-load="https://maps.google.com/maps/api/js">
      <ng-map default-style="true" center="{{evento.latitude}}, {{evento.longitude}}" zoom="13">
        <marker position="{{evento.latitude}}, {{evento.longitude}}" title="{{evento.event_name}}" on-click="openMap(event, evento)"></marker>
      </ng-map>
    </div>

    <div class="col-md-6">
      <h2>{{evento.event_name}}</h2>
      <p><strong>Category: </strong>
        <span class="label label-primary tags">sport</span>
        <span class="label label-success tags">meeting</span>
        <span class="label label-warning tags">workshop</span>
      </p>
      <p><i>Creator: Mario Rossi {{evento.creationdate}}</i></p>
      <h3>Description</h3>
      <p>{{evento.description}}</p>
      <span><b>Start:</b> {{evento.startdate}}</span>
      <span><b>Stop:</b> {{evento.stopdate}}</span>
    </div>

    <!-- Team Member Profiles -->

    <div class="row">

      <div class="col-sm-6">
        <h2 class="page-header">Partecipants</h2>
        <div class="group-members-list">
          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>
          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>
          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>

          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>

          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>

          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>

          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>

          <div class="col-sm-2">
            <img class="img-responsive img-circle" src="http://api.randomuser.me/portraits/men/49.jpg">
            <h5 class="small">John Smith</h5>
          </div>
        </div>
      </div>


    </div>

    <!-- Our Customers -->

    <div class="row">

      <div class="col-lg-12">
        <h2 class="page-header">Documenti dell'evento</h2>
      </div>

      <div class="col-md-2 col-sm-2 col-xs-6">
        <img class="img-responsive img-customer" src="css/img/document.png">
        <h4>Titolo Doc</h4>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="css/img/document.png">
        <h4>Titolo Doc</h4>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="css/img/document.png">
        <h4>Titolo Doc</h4>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="css/img/document.png">
        <h4>Titolo Doc</h4>
      </div>



    </div>
  </div>
</div>
