<div class="container homepage">

  <div class="row homepage-content" style="padding:0 10px;">

    <div class="col-md-12">

      <div class="media clearfix doc-thumb-container">
        <div class="pull-left media-top">
          <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
        </div>
        <div class="">
          <h4 class="">Evento Partecipo</h4>
          <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
        </div>
      </div>

      <div class="media clearfix doc-thumb-container">
        <div class="pull-left media-top">
          <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
        </div>
        <div class="">
          <h4 class="">Evento Partecipo</h4>
          <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
        </div>
      </div>

      <div class="media clearfix doc-thumb-container">
        <div class="pull-left media-top">
          <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
        </div>
        <div class="">
          <h4 class="">Evento Partecipo</h4>
          <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
        </div>
      </div>

      <div class="media clearfix doc-thumb-container">
        <div class="pull-left media-top">
          <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
        </div>
        <div class="">
          <h4 class="">Evento Partecipo</h4>
          <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
        </div>
      </div>

      <div class="media clearfix doc-thumb-container">
        <div class="pull-left media-top">
          <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
        </div>
        <div class="">
          <h4 class="">Evento Partecipo</h4>
          <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
        </div>
      </div>

      <div class="media clearfix doc-thumb-container">
        <div class="pull-left media-top">
          <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
        </div>
        <div class="">
          <h4 class="">Evento Partecipo</h4>
          <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
        </div>
      </div>

    </div>

    <div class="col-md-12 pull-right">
      <button class="btn"><span class="glyphicon glyphicon-repeat"></span>More</button>
      <button class="btn"><span class="glyphicon glyphicon-plus"></span>Create</button>
    </div>

    </div>

  </div>

