<div class="container-fluid homepage">
  <div class="row-fluid homepage-content">
    <div class="col-md-3 aside">
      <div>
        <h1>Documents</h1>
      </div>
      <div class="docs-cont">
        <!--REPLACE WITH ng-repeat-->
        <div class="media clearfix doc-thumb-container" ng-repeat="doc in documenti"  ng-click="goto(doc.id)">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">{{doc.name}}</h4>
          </div>
        </div>


        <!--STOP REPLACE-->
      </div>


    </div>

    <div class="col-md-9 main-content" style="background-color: transparent;">
      <div class="jumbotron" style="background-color:transparent;color:#ffffff;">
        <h1><b>Benvenuto, {{user.name}}<b/></h1>
        <p>
          Mergefy è una piattaforma che ti permette di creare documenti in modo interattivo.
        </p>
        <p>
          La particolarità è che, mentre stai partecipando ad un evento, puoi vedere quello che stanno scrivendo i tuoi compagni e importare
          ciò che hanno pubblicato nel tuo documento.
        </p>
        <p>
          Non perderti neanche una parola! <button class="btn btn-primary">Iniziamo</button>
        </p>

      </div>


        <div class="jumbotron" style="background-color:transparent;color:#ffffff;position:absolute; bottom:0">
          <h1 style=""><div class="glyphicon glyphicon-time"></div> {{clock}}</h1>
          <h2 style=""><div class="glyphicon glyphicon-calendar"></div> {{date}}</h2>
        </div>

    </div>
  </div>
</div>
