<div class="container-fluid homepage">
  <div class="row-fluid homepage-content">
    <div class="col-md-3 aside">
      <div>
        <h1>Documents</h1>
      </div>
      <div class="docs-cont">
        <!--REPLACE WITH ng-repeat-->

        <div class="row doc-thumb-container">
          <div class="image-cont col-md-3"><img src="css/img/document.png" class="img-responsive doc-img" alt="Responsive image"></div>
          <div class="text-cont col-md-9">
            <h3>{{Doc title}}</h3>
            <p>{{Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa...}}</p>
          </div>
        </div>

        <div class="row doc-thumb-container">
          <div class="image-cont col-md-3"><img src="css/img/document.png" class="img-responsive doc-img" alt="Responsive image"></div>
          <div class="text-cont col-md-9">
            <h3>{{Doc title}}</h3>
            <p>{{Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa...}}</p>
          </div>
        </div>

        <div class="row doc-thumb-container">
          <div class="image-cont col-md-3"><img src="css/img/document.png" class="img-responsive doc-img" alt="Responsive image"></div>
          <div class="text-cont col-md-9">
            <h3>{{Doc title}}</h3>
            <p>{{Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa...}}</p>
          </div>
        </div>

        <div class="row doc-thumb-container">
          <div class="image-cont col-md-3"><img src="css/img/document.png" class="img-responsive doc-img" alt="Responsive image"></div>
          <div class="text-cont col-md-9">
            <h3>{{Doc title}}</h3>
            <p>{{Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa...}}</p>
          </div>
        </div>
        <div class="row doc-thumb-container">
          <div class="image-cont col-md-3"><img src="css/img/document.png" class="img-responsive doc-img" alt="Responsive image"></div>
          <div class="text-cont col-md-9">
            <h3>{{Doc title}}</h3>
            <p>{{Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa...}}</p>
          </div>
        </div>
        <div class="row doc-thumb-container">
          <div class="image-cont col-md-3"><img src="css/img/document.png" class="img-responsive doc-img" alt="Responsive image"></div>
          <div class="text-cont col-md-9">
            <h3>{{Doc title}}</h3>
            <p>{{Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa...}}</p>
          </div>
        </div>
        <div class="row doc-thumb-container">
          <div class="image-cont col-md-3"><img src="css/img/document.png" class="img-responsive doc-img" alt="Responsive image"></div>
          <div class="text-cont col-md-9">
            <h3>{{Doc title}}</h3>
            <p>{{Lorem Ipsum è un testo segnaposto utilizzato nel settore della tipografia e della stampa...}}</p>
          </div>
        </div>
        <!--STOP REPLACE-->
      </div>


    </div>
    <div class="col-md-9 main-content">
        <h1> {{ clock  | date:'HH:mm:'}} </h1>


    </div>
  </div>
</div>


