<div class="container-fluid homepage">
  <div class="row-fluid homepage-content">
    <div class="col-md-3 aside">
      <div>
        <h1>Documents</h1>
      </div>
      <div class="docs-cont">
        <!--REPLACE WITH ng-repeat-->
        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>

        <div class="media clearfix doc-thumb-container">
          <div class="pull-left media-top">
            <img class="media-object mg-responsive doc-img" src="css/img/place.png" alt="...">
          </div>
          <div class="">
            <h4 class="">Document title</h4>
            <p class="small">[[Lorem Ipsum è un testo segnaposto utilizzatadsfawdsfasf asfasdfsf..]]</p>
          </div>
        </div>


        <!--STOP REPLACE-->
      </div>


    </div>
    <div class="col-md-9 main-content" style="background-color: transparent;">
        <h1 style="font-size: 84px;color: #ffffff;position: absolute;bottom: 30px;left:40px;"> 15:22</h1>


    </div>
  </div>
</div>


