<div class="container text-center" style="margin-top:30px;">
  <div class="row">
    <div class="col-md-9" style="">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <h2>{{Name Lastname}}</h2>
              <p><strong>Born: </strong> {{00-00-0000}} </p>
              <p><strong>Subscription date: </strong> {{00-00-0000}} </p>
              <p><strong>Type: </strong>
                <span class="label label-primary tags">basic</span>
                <span class="label label-success tags">premium</span>
                <span class="label label-warning tags">admin</span>
              </p>
            </div><!--/col-->
            <div class="col-xs-12 col-sm-4 text-center">
              <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
            </div><!--/col-->

            <div class="col-xs-12 col-sm-4 text-center">
              <h2><strong> 245 </strong></h2>
              <p><small>Documents</small></p>
              <button class="btn btn-success btn-block"><span class="fa fa-file-word-o"></span> View Docs </button>
            </div><!--/col-->
            <div class="col-xs-12 col-sm-4 text-center">
              <h2><strong>5</strong></h2>
              <p><small>Groups</small></p>
              <button class="btn btn-info btn-block"><span class="fa fa-users"></span> View Groups </button>
            </div><!--/col-->

          </div><!--/row-->
          <div class="row">
            <div class="col-xs-12 col-sm-2 col-md-offset-10">
              <button class="btn btn-info btn-block"><span class="fa fa-cogs"></span> Edit </button>
            </div><!--/col-->
            <a href="http://bootstrap.snipplicious.com/snippet/19/edit-profile-page">Plugin per modificare profilo</a>
          </div>
        </div><!--/panel-body-->
      </div><!--/panel-->



    </div>
  </div>
</div>
