
.scene {
  height: 100%;
  overflow:hidden;
}
.homepage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url("img/homepage.jpg") no-repeat fixed center;
  width: 100%;
  height: 100%;
  padding: 0px;
}
.homepage-content {
  height:100%;
}

.aside {
  height: 100%;
  background-color: rgba(70, 70, 71, 0.88);
  color:#ffffff;
}

.docs-cont{
  overflow: scroll;
  height: 85%;
  margin:0px;
  padding:0px;
}
.groups-list {
  overflow: scroll;
  height: 80%;
}


.doc-thumb-container {
  margin: 5px 0px;
  padding: 0 5px;
  background-color: rgb(225, 232, 237);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #292f33;


}
.thumb-info {
}
.small-custom {
  font-size: 92% 
}
.image-cont, .text-cont, .text-cont h3 {
  margin:0px;
  padding: 3px;
}
.doc-img {
  margin:15px 5px 15px 10px;
  height: 30px;
}
.main-content {
  height: 100%;
  background-color: rgba(255,255,255,0.95);
  overflow: scroll;
  /*background-color: rgba(211,211,211,0.9);*/
}
#map-canvas {
  height:400px;
}
.document-container {
  overflow: scroll;
  height:85%;
}

.document-container-complete {
  overflow: scroll;
}

.document {
  width: 92%;
  padding:40px 30px;
  padding-bottom: 100px;
  height: auto;
  min-height: 70%;
  margin: 15px auto;
  background-color: #ffffff;
  box-shadow: 4px 3px 30px rgba(0,0,0,0.5);
  border-radius: 4px;

}

.insert-node {
  background-color: rgba(248, 245, 247, 0.96);
  position: fixed;
  bottom:0;
  right:0;
  width:75%;
  padding: 10px 15px;
  hight:40%;
  box-shadow: 1px 1px 20px rgba(123,123,123,0.5);
}
.insert-node-collapsed {
  height:15%;
}
.insert-node-complete {
  height:40%;
}

.search-place {
  position: absolute;
  margin-top: 10px;
  z-index: 100;
  left: 130px
}
.search-place input {
  width:400px;
  padding:5px;
}

.overlay {
  position: absolute;
  left:0;
  top:45px;
  background-color: rgba(123,123,123,0.6);
  height: 100%;

}
.overlay-box {
  position: absolute;
  background-color: #ffffff;
  margin: 20px auto 0 auto;
  padding: 20px;
  top: 50px;
  left: 50px;
  right: 50px;
}

.loading
{
    -webkit-animation-name:             rotate;
    -webkit-animation-duration:         7s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
    display: block;

}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(4000deg);
  }
}
